﻿@using System.Globalization
@model CalendarApp.Models.CalendarModel;

<p class="title title-detail">Calendario</p>

@Html.HiddenFor(m => m.DateTime.Month, new { id = "monthNumber" })
@Html.HiddenFor(m => m.DateTime.Year, new { id = "yearNumber" })

@Html.Hidden("DaySelected")

<div class="row calendar-month-year-row">
	<p class="col-2 title float-left">Mes: @Model.DateTime.ToString("MMMM", CultureInfo.CreateSpecificCulture("es"))</p>
	<p class="col-2 title float-right">Año: @Model.DateTime.ToString("yyyy")</p>
</div>

<div class="row daily-row">
	<p class="col-1 daytime-header">D</p>
	<p class="col-1 daytime-header">L</p>
	<p class="col-1 daytime-header">M</p>
	<p class="col-1 daytime-header">M</p>
	<p class="col-1 daytime-header">J</p>
	<p class="col-1 daytime-header">V</p>
	<p class="col-1 daytime-header">S</p>
</div>

@{int index = 1;}
@{int offset = (int)Model.CalendarInfo.FirstOrDefault().DayWeekNumber;}
@{int i = 0;}
@while (index <= DateTime.DaysInMonth(Model.DateTime.Year, Model.DateTime.Month))
{
	<div class="row daily-row">
		@if (i == 0)
		{
			@for (int s = i; s < offset; s++)
			{
				<a class="col-1 btn btn-outline-dark daytime-cell"></a>

			}
			{ i = offset + 1; }
		}

		@for (var r = i; r % 8 != 0; r++)
		{
			if (index <= DateTime.DaysInMonth(Model.DateTime.Year, Model.DateTime.Month))
			{
				//submit form after open dialog box
				<a class="col-1 btn btn-outline-dark daytime-cell @(Model.CalendarInfo[index - 1].Details.Any()? "daytime-cell-blue" : "") @(Model.CalendarInfo[index - 1].IsHoliday? "holidayCell" : "")"
					 onclick="loadDetails(@Model.CalendarInfo[index - 1].DayNumber, '@Model.CalendarInfo[index - 1].IsHoliday', '@Model.CalendarInfo[index - 1].HolidayDescription');">@index</a>
					index++;
					i++;
				}
			}
		@{i++;}
	</div>
}

@{
	var nextYear = Model.DateTime.Month == 12 ? Model.DateTime.Year + 1 : Model.DateTime.Year;
	var prevYear = Model.DateTime.Month == 01 ? Model.DateTime.Year - 1 : Model.DateTime.Year;
	var nextMonth = Model.DateTime.Month == 12 ? 01 : Model.DateTime.Month + 1;
	var prevMonth = Model.DateTime.Month == 01 ? 12 : Model.DateTime.Month - 1;
}

<div class="row calendar-buttons">
	<button class="col-2 float-left btn btn-outline-dark" onclick="location.href='@Url.Action("Index", "Calendar", new { year = prevYear, month = prevMonth })'"><i class="fas fa-angle-left"></i></button>
	<button class="col-2 float-right btn btn-outline-dark" onclick="location.href='@Url.Action("Index", "Calendar", new { year = nextYear, month = nextMonth })'"><i class="fas fa-angle-right"></i></button>
</div>

<div class="row">
	<span id="holidayDesc"></span>
</div>
<div class="row reference-row">
	<p>
		Referencias:
		<span class="referenceBox daytime-cell-blue"></span>
		Día con reuniones
		<span class="referenceBox holidayCell"></span>
		Feriado
		<span class="referenceBox cell-detail-Pending"></span>
		Reunion Pendiente
		<span class="referenceBox cell-detail-Approved"></span>
		Reunion Aprobada
		<span class="referenceBox cell-detail-Cancelled"></span>
		Reunion Cancelada
		<span class="referenceBox cell-detail-Concluded"></span>
		Reunion Terminada
	</p>
</div>

<script type="text/javascript">
	function loadDetails(id, isHoliday, holidayDesc) {
		if (isHoliday == "True") {
			$('#holidayDesc').text("Feriado: " + holidayDesc);
		} else {
			$('#holidayDesc').text('');
		}

		if ($('#sidebar').attr("class") == "active" && $("#DaySelected").val() == id) {
			$('#sidebar').toggleClass('active');
			$("#detailsDay").html("");
			return;
		}

		$("#DaySelected").val(id);
		$('#sidebar').toggleClass('active');

		$.ajax({
			type: "GET",
			url: "./Calendar/Detail?day=" + id + "&month=" + $('#monthNumber').val() + "&year=" + $('#yearNumber').val(),
			contentType: "application/json; charset=utf-8",
			beforeSend: function (xhr) {

			},
			error: function (error) {
				console.log(error);
			},
			success: function (result) {
				$("#detailsDay").html(result);
				//$('#sidebar').toggleClass('active');

			}
		});
	}
</script>
