﻿body {
  overflow: hidden;
}

.fill-height {
  padding: 0;
}

#mainForm div {
  margin-top: 20px;
}

.detailPanel {
}

.title-detail {
  font-weight: 600 !important;
  font-size: 34px !important;
}

.calendarInfoPanel {

}

.buttonPanel {
  background: #8f99a5;
}

.buttonPanel span {
  font-size: 40px;
}

.btn {
  border: 0px;
  border-radius: 0px !important;
}

.container-fluid {
  background: #f1f1f1;
}

html, body {
  height: 100%;
}
.fill-height {
  min-height: 100%;
  height:auto !important; /* cross-browser */
  height: 100%; /* cross-browser */
}

.daytime-cell {
  font-size: 25px;
  height: 60px;
}
.daytime-header {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.daytime-cell-blue {
  background: #9e9eff;
}
.float-right {
  float: right !important;
  margin: auto;
}

.calendar-month-year-row {
  margin-top: 20px;
  margin-bottom: 20px;
}


.calendar-buttons button {
  font-size: 25px;
}

.title {
  font-weight: 400;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.wrapper {
  /*display: flex;*/
  width: 100%;
  align-items: stretch;
}

#sidebar {
  margin-right: -350px;
  position: absolute;
  right: 0px !important;
  min-width: 350px;
  max-width: 350px;
  min-height: 100vh;
  transition: all 0.3s;
}

#content {
  min-width: 900px !important;
}

#sidebar.active {
  margin-right: 0%;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: 350px;
  }
  #sidebar.active {
    margin-left: 0;
  } 
}

.daily-row {
  margin-left: 70px;
}

.cell-detail {
  height: 1.6vh;
}

.cell-detail-Approved {
	background: #9f9fff;
}

.cell-detail-Pending {
  background: #73fa56;
}

.cell-detail-Cancelled {
	background: #ff6666;
}

.cell-detail-Concluded {
	background: #ea9be2;
}

.cell-detail-hour {
  font-weight: bold;
}

.appointment-form {
	margin-top: 50px;
}

.field-validation-error {
	color: red;
}

.error-message {
	color: red;
	font-weight: bold;
}

.success-message {
	color: green;
}

.holidayCell {
	border: 1px solid blue;
}

.referenceBox {
	display: inline-flex;
	width: 20px;
	height: 20px;
}

.reference-row {
	/*position: absolute;
	bottom: 0;*/
}

