﻿
  <a href="@Url.Action("Index", "Home")" class="col-2 btn btn-outline-dark"
     data_ajax="true"
     data_ajax_method="GET"
     data_ajax_mode="replace"
     data_ajax_update="main_form">
    <span class="fa fa-home" aria-hidden="true"></span>
    <div>Home</div>
  </a>

  <a href="@Url.Action("Add", "Person", new {id = string.Empty})" class="col-2 btn btn-outline-dark"
     data_ajax="true"
     data_ajax_method="GET"
     data_ajax_mode="replace"
     data_ajax_update="main_form">
    <span class="fa fa-address-card" aria-hidden="true"></span>
    <div>Registrar Persona</div>
</a>
  
  <a href="@Url.Action("List", "Person")" class="col-2 btn btn-outline-dark"
     data_ajax="true"
     data_ajax_method="GET"
     data_ajax_mode="replace"
     data_ajax_update="#main_form">
    <span class="fa fa-th-list" aria-hidden="true"></span>
    <div>Listar Personas</div>
</a>

<a href="@Url.Action("Appointment", "Calendar", new {id = string.Empty})" class="col-2 btn btn-outline-dark"
   data_ajax="true"
   data_ajax_method="GET"
   data_ajax_mode="replace"
   data_ajax_update="#main_form">
  <span class="fas far fa-handshake" aria-hidden="true"></span>
  <div>Agendar Reunion</div>
</a>

<a href="@Url.Action("List", "Calendar")" class="col-2 btn btn-outline-dark"
   data_ajax="true"
   data_ajax_method="GET"
   data_ajax_mode="replace"
   data_ajax_update="#main_form">
  <span class="fa fa-th-list" aria-hidden="true"></span>
  <div>Listar Reuniones</div>
</a>

  <a href="@Url.Action("Index", "Holiday")" class="col-2 btn btn-outline-dark"
     data_ajax="true"
     data_ajax_method="GET"
     data_ajax_mode="replace"
     data_ajax_update="#main_form">
	  <span class="fas fa-file-import" aria-hidden="true"></span>
	  <div>Importar Feriados</div>
  </a>
