﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container appointment-form">

	<h3 class="text-danger">Ocurrio un error en la aplicación.</h3>
	<br/>

	<h3>Mensaje: @Model.Message</h3>

	<br/>
	<h4>Contactese con el administrador del sistema.</h4>

</div>
