﻿@using DataModel.Enum
@model PersonModel


<form asp-controller="Person" asp-action="Register" method="post" class="container appointment-form">
	<div asp-validation-summary="ModelOnly"></div>

	@Html.HiddenFor(m => m.PersonId)

	@if (Model.Result != null)
	{
		<div class="form-row">
			<label class=" @(@Model.Result.Success ? "success-message" : "error-message")"> @Model.Result.Message</label>
		</div>
	}


	<div class="form-row">

		<div class="col-md-4 mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" placeholder="Nombre de la persona" />
			<span asp-validation-for="Name"></span>
		</div>

		<div class="col-md-4 mb-3">
			<label asp-for="LastName"></label>
			<input asp-for="LastName" class="form-control" placeholder="Apellido de la persona" />
			<span asp-validation-for="LastName"></span>
		</div>

	</div>

	<div class="form-row">

		<div class="col-md-4 mb-3">
			<label asp-for="Phone"></label>
			<input asp-for="Phone" class="form-control" placeholder="4444-3333" />
			<span asp-validation-for="Phone"></span>
		</div>

		<div class="col-md-4 mb-3">
			<label asp-for="Cellphone"></label>
			<input asp-for="Cellphone" class="form-control" placeholder="11-4444-3333" />
			<span asp-validation-for="Cellphone"></span>
		</div>
	</div>

	<div class="form-row">
		<div class="col-md-4 mb-3">
			<label asp-for="Mail"></label>
			<input asp-for="Mail" class="form-control" placeholder="mail@mail.com" />
			<span asp-validation-for="Mail"></span>
		</div>
	</div>

	<button type="submit" class="btn btn-primary col-md-4 mb-3">Guardar</button>
</form>
