﻿@model List<Person>
@using  DataModel.Entities;



<div class="table-responsive">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Mail</th>
        <th scope="col">Celular</th>
        <th scope="col">Telefono</th>
	      <th scope="col"></th>
	      <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
      <tr>
        <td scope="row">@item.Name</td>
        <td>@item.LastName</td>
        <td>@item.Contacts.FirstOrDefault(i => i.Contact.Id == DataModel.Enum.ContactType.Email)?.Value</td>
        <td>@item.Contacts.FirstOrDefault(i => i.Contact.Id == DataModel.Enum.ContactType.CellphoneNumber)?.Value</td>
        <td>@item.Contacts.FirstOrDefault(i => i.Contact.Id == DataModel.Enum.ContactType.PhoneNumber)?.Value</td>
	      
	      <td class="text-center">
		      <a href="@Url.Action("Add", "Person", new {id = item.Id})"
		         class="col-2 btn btn-outline-dark"
		         data_ajax="true"
		         data_ajax_method="GET"
		         data_ajax_mode="replace"
		         data_ajax_update="#main_form
							 ">
			      <span class="fa fa-edit" style="color: white;"></span>
		      </a>
	      </td>
					
	      <td class="text-center">
		      <a href="@Url.Action("Delete", "Person", new { id = item.Id })"
		         class="col-2 btn btn-outline-dark"
		         data_ajax="true"
		         data_ajax_method="GET"
		         data_ajax_mode="replace"
		         data_ajax_update="#main_form
							 ">
			      <span class="fa fa-trash" style="color: white;"></span>
		      </a>
	      </td>
      </tr>
      }
    </tbody>
  </table>
</div>