﻿@using DataModel.Enum
@model AppointmentModel


<form asp-controller="Calendar" asp-action="NewAppointment" method="post" class="container appointment-form">
	<div asp-validation-summary="ModelOnly"></div>

	@Html.HiddenFor(m => m.TimeTable)
	@Html.HiddenFor(m => m.Entries)
	@Html.HiddenFor(m => m.CalendarDetailId)

	@if (Model.Result != null)
	{
		<div class="form-row">
			<label class=" @(@Model.Result.Success ? "success-message" : "error-message")"> @Model.Result.Message</label>
		</div>
	}


	<div class="form-row">

		<div class="col-md-8 mb-3">
			<label asp-for="Description"></label>
			<input asp-for="Description" class="form-control" placeholder="Motivo de la reunion" />
			<span asp-validation-for="Description"></span>
		</div>

	</div>

	<div class="form-row">
		<div class="col-md-4 mb-3">
			<label asp-for="Date"></label>
			<input asp-for="Date" class="form-control datepicker" placeholder="Fecha de la reunion" />
			<span asp-validation-for="Date"></span>
		</div>

		<div class="col-md-4 mb-3">
			<label asp-for="Time"></label>
			<select asp-for="Time" asp-items="Model.TimeTable" class="form-control" placeholder="Hora de la reunion"></select>
			<span asp-validation-for="Time"></span>
		</div>

	</div>

	<div class="form-row">
		<div class="col-md-4 mb-3">
			<label asp-for="Status"></label>
			<select asp-for="Status" class="form-control" asp-disabled="@(Model.CalendarDetailId == null)" asp-items="Html.GetEnumSelectList<CalendarDetailStatus>()"></select>
		</div>

		<div class="col-md-4 mb-3">
			<label asp-for="ElapsedTime"></label>
			<input asp-for="ElapsedTime" type="number" min="0" step="1" class="form-control" />
			<span asp-validation-for="ElapsedTime"></span>
		</div>
	</div>

	<div class="form-row">

		<div class="form-group col-md-4 mb-3">
			<label asp-for="Entry"></label>
			<select asp-for="Entry" asp-items="Model.Entries" multiple="multiple" class="form-control"></select>
		</div>


	</div>

	<button type="submit" class="btn btn-primary col-md-4 mb-3">Guardar</button>
</form>
