﻿@model CalendarApp.Models.DetailModel;

<p class="title title-detail">Detalle</p>
@foreach (var item in Model.List)
{
<div class="row cell-detail cell-detail-@item.Status.ToString()">
  @if (item.Minutes == 0 && @item.Hour % 2 == 0)
  {
    <div class="col-2 cell-detail-hour">@item.Hour:00</div>
  }
  else
  {
    <div class="col-2 cell-detail-hour"></div>
  }
  @if (item.Id != null)
  {

    <div class="col-10 float-center">
      <div class="col-12 float-center">@item.Description</div>
      <div class="col-12 float-center">@item.Hour:@item.Minutes - @item.ElapsedTime Min</div>
      <div class="col-12 float-center">@string.Join(",", item.Entries.Select(x => x.Name + "-" + x.LastName))</div>
    </div>
    
  }

</div>
}
