﻿@model CalendarApp.Models.CalendarModel;

<div class="row justify-content-md-center">
  <!--wrapper-->

  <div id="content2" class="col-9">
    @await Html.PartialAsync("~/Views/Calendar/Component/CalendarInfo.cshtml", Model)
  </div>
  <nav id="sidebar" class="">
    <div id="detailsDay"></div>
    @*@await Html.PartialAsync("~/Views/Calendar/Detail.cshtml")*@
  </nav>
</div>



<script type="text/javascript">
  //$(document).ready(function () {
  //  $('.daytime-cell').on('click',
  //    function () {
  //      $('#sidebar').toggleClass('active');
  //    });
  //})
</script>