﻿@model List<CalendarDetail>
@using  DataModel.Entities;

<div class="table-responsive">
	<table class="table table-dark table-hover">
		<thead>
			<tr>
				<th scope="col">Fecha</th>
				<th scope="col">Descripción</th>
				<th scope="col">Duración</th>
				<th scope="col">Estado</th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td scope="row">@item.Calendar.Date</td>
					<td>@item.Description</td>
					<td>@item.Calendar.ElapsedTime</td>
					<td>@item.Status.GetValueOrDefault().ToString()</td>

					<td class="text-center">
						<a href="@Url.Action("Appointment", "Calendar", new {id = item.Id})"
							 class="col-2 btn btn-outline-dark"
							 data_ajax="true"
							 data_ajax_method="GET"
							 data_ajax_mode="replace"
							 data_ajax_update="#main_form
							 ">
							<span class="fa fa-edit" style="color: white;"></span>
						</a>
					</td>
					
					<td class="text-center">
						<a href="@Url.Action("Delete", "Calendar", new { detailId = item.Id })"
						   class="col-2 btn btn-outline-dark"
						   data_ajax="true"
						   data_ajax_method="POST"
						   data_ajax_mode="replace"
						   data_ajax_update="#main_form
							 ">
							<span class="fa fa-trash" style="color: white;"></span>
						</a>
					</td>

				</tr>
			}
		</tbody>
	</table>
</div>