﻿@model FormResult

<form method="post" enctype="multipart/form-data" asp-controller="Holiday" asp-action="Upload" class="container appointment-form">


	@if (Model != null)
	{
		<div class="form-row">
			<label class=" @(@Model.Success ? "success-message" : "error-message")"> @Model.Message</label>
		</div>
	}


	<div class="form-group">
		<div class="form-row">
			<div class="col-md-8 mb-4">
				@*<input type="file" class='btn btn-outline-secondary' name="file" accept=".xml" style="width: 100%" />*@
				<div class="custom-file" style="width: 100%">
					<input type="file" class="custom-file-input" id="inputGroup" name="file" accept=".xml">
					<label class="custom-file-label" for="inputGroup">Seleccionar Archivo</label>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-4 mb-8">
				<button class="btn btn-success btn-inline" type="submit" name="btnSubmit" id="btnSubmit" style=" width: 140px;">Cargar</button>
			</div>
			<div class="col-md-4">
				<button type="button" class='btn btn-primary btn-inline float-right' onclick="location.href = '@Url.Action("DownloadTemplate", "Holiday")'">Descargar Template</button>
			</div>
		</div>
	</div>

	<script type="application/javascript">
		$('input[type="file"]').change(function(e){
				var fileName = e.target.files[0].name;
				$('.custom-file-label').html(fileName);
		});
	</script>
</form>